<template>
  <div class="container">
    <div>
      <div class="row">
        <span><b>Movimientos de la tierra GET: api/earth</b></span>
        <div class="mt-2 col-md-12">
          {{movements}}
        </div>
      </div>
      <div class="mt-2 col-md-12">
        <span><b>Posición Final POST: api/final-position</b></span>
        <div class="row">
          {{ finalPosition }}
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      movements: [],
      finalPosition: []
    }
  },
  created () {
    this.getMovements();
  },
  methods: {
    getMovements: function() {
      let self = this
      axios.get('api/earth',{
        headers: {
          'Content-Type' : 'application/json',
          'Accept': 'application/json'
        }
      }).then((response) => {
        self.movements = response.data;
        return response.data;
      })
      .then((movements) => {
        this.getFinalPosition(movements);
      })
      .catch((error) => {
        console.log(error);
      })
    },
    getFinalPosition: function(movements) {
      let self = this
      let data = {
          "initial" : [0, 0],
          "items" : movements
      };
      axios.post('api/final-position', data,{
        headers: {
          'Content-Type' : 'application/json',
          'Accept': 'application/json'
        }
      }).then((response) => {
        self.finalPosition = response.data;
      })
      .catch((error) => {
        console.log(error);
      })
    }
  }
}
</script>
